<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Handwritten digits recognition</title>
</head>
<body>
    <div class="container">
        <h1><!DOCTYPE html>
<html>

</style>
<body>
    <div class="container">
        <h1>Handwritten Digits Recognition</h1>
        
        <div class="input-group">
            <label for="file-input">Upload Image:</label>
            <input type="file" id="file-input">
        </div>
        
        <div class="input-group">
            <button onclick="predict()">Predict</button>
        </div>
        
        <div class="output">
            <h2>Output:</h2>
            <div id="prediction-result"></div>
        </div>
    </div>
    <div class="per-infor">
        <a href="https://github.com/kirin017/Handwritten-digits-recognition " target="_blank">Link Project  </a>
    </div>
</body>
</html>